.container {
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
    gap: 20px;
}

.header {
    font-size: 1.2rem;
}
.plots {
    display: flex;
}

.pie {
    display: flex;
    gap: 20px;
    background-color: #fff;
    color: #252422;
    border: 0 none;
}

.footer {
    flex: 1 1 auto;
    display: flex;
}

.footer button{
    margin-top: 100px;
}

/* font-size */
.navbar .navbar-nav .nav-link {
    font-size: 1.2rem;
    padding: 0.5rem 0.7rem;
    line-height: 1.625rem;
    margin-right: 3px;
}

.container .row {
    display: flex;
    max-width: 2000px;
    justify-content: space-around;
    margin-right: -15px;
    margin-left: -15px;
}

.container {
    min-width: 1500px;
    max-width: 1500px;
}

.row > .col-md-8 {
    flex: 1 1 55%;
    max-width: 55%;
}

.row > .col-md-4 {
    flex: 1 1 45%;
    max-width: 45%;
}

.d-flex.flex-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav {
    padding: 0.5rem 1rem;
}

body .navbar .navbar-nav .nav-link {
    text-transform: none;
}

.container .card .card-title {
    font-size: 2rem;
}

.container .card-category {
    font-size: 1.4rem;
}